In [1]:
from sqlalchemy import create_engine, inspect

for name, path in [("Spider","D:/NL2SQL/data/spider_data/database/academic/academic.sqlite"),
                   ("Chinook","D:/NL2SQL/data/chinook/Chinook.sqlite"),
                   ("Northwind","D:/NL2SQL/data/northwind/northwind.db")]:
    engine = create_engine(f"sqlite:///{path}")
    tables = inspect(engine).get_table_names()
    print(f"{name} tables:", tables)

Spider tables: ['author', 'cite', 'conference', 'domain', 'domain_author', 'domain_conference', 'domain_journal', 'domain_keyword', 'domain_publication', 'journal', 'keyword', 'organization', 'publication', 'publication_keyword', 'writes']
Chinook tables: ['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']
Northwind tables: ['Categories', 'CustomerCustomerDemo', 'CustomerDemographics', 'Customers', 'EmployeeTerritories', 'Employees', 'Order Details', 'Orders', 'Products', 'Regions', 'Shippers', 'Suppliers', 'Territories']

In [1]:
from __future__ import annotations
import argparse, json
from pathlib import Path
from typing import Dict, List
from sqlalchemy import create_engine, inspect

In [3]:
db_path = 'D:/NL2SQL/data/chinook/Chinook.sqlite'
eng = create_engine(f"sqlite:///{db_path}")
insp = inspect(eng)

print(insp)

<sqlalchemy.engine.reflection.Inspector object at 0x0000023D1E527070>

In [8]:

for i in insp.get_table_names():
    print(i)

Album
Artist
Customer
Employee
Genre
Invoice
InvoiceLine
MediaType
Playlist
PlaylistTrack
Track